.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
workspace.xml
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json

!/dynamic-import/package-lock.json
!/dynamic-import/dist/index.html
!/dynamic-import/dist/i18n/
